<p>
  serie works!
</p>

<div class="container" id="Cuerpo">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-12 col-sm-12">
      <table class="table table-striped table-dark" id="tablaSeries">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Channel</th>
            <th scope="col">Seasons</th>
          </tr>
          <tbody>
            <tr *ngFor="let seri of series">
              <td>
                <dd>{{seri.id}}</dd>
              </td>
              <td>
                <dd>{{seri.nombre}}</dd>
              </td>
              <td>
                <dd>{{seri.canal}}</dd>
              </td>
              <td>
                <dd>{{seri.temporadas}}</dd>
              </td>
          </tr>
          </tbody>
      </table>
      <p id="average">Average seasons: {{promedioTemporadas}}</p>
    </div>
    <div class="col-lg-4 col-md-4 col-4 col-sm-12" id="cartaContenido">
    </div>
  </div>
</div>

<script type="module" src = "scripts/index.js"></script>
<script type="module" src = "scripts/data.js"></script>
<script type="module" src = "scripts/Serie.js"></script>